* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin: 0px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 66.66%;
}

.col-12 {
    width: 100%;
}

[class*='col-'] {
    float: left;
}

.row::after {
    content: '';
    clear: both;
    display: table;
}

a {
    color: #cccc22;
}

body {
    background-color: rgba(0, 0, 0, 0.2);
}

.logo {
    vertical-align: middle;
}

.logo img {
    height: 50px;
}

.header {
    background: #333;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 5px black;
    z-index: 2;
}

.menu {
    display: inline-block;
    vertical-align: middle;
}

.menu div {
    transition: 0.2s ease;
}

.menu a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.25em;
}

.menu-member {
    position: relative;
    text-align: center;
}

.menu-member:hover {
    transform: translateY(20%);
}

.sub-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    min-width: 100%;
    background-color: #555;
}

.menu-member:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

.sub-menu-member {
    padding: 15px 2px;
    border-bottom: 1px solid #ccc;
}

.sub-menu-member:hover {
    background-color: #333;
}

.search {
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
    height: 100%;
    float: right;
    background-color: #555;
}

.search img {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 10%;
}

#search-text #search-button {
    display: block;
    width: 100%;
}

.search form {
    display: none;
}

.search:hover img {
    display: none;
}

.search:hover {
    height: auto;
}

.search:hover form {
    display: block;
}

.mar {
    margin: 0px 10%;
}

.container {
    margin: 0px 10%;
    background-color: white;
    min-height: 100vh;
}

.footer {
    background: #333;
    text-align: center;
    color: #ccc;
    padding: 20px 0px;
}

.break-line {
    display: inline-block;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin: 30px 0px;
}

.news-frame {
    min-height: 400px;
    position: relative;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.news-frame h2 {
    color: #ccc;
    text-align: center;
    padding: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    background: #555;
    border-radius: 0 0 50% 50%;
}

.trend-news {
    overflow: auto;
}

.hot-news {
    display: inline-block;
    position: relative;
    min-width: 300px;
    height: 500px;
    float: left;
}

.list-news {
    height: 100%;
    overflow: auto;
    padding-top: 3em;
}

.news-post {
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.news-post img {
    width: 90%;
    height: auto;
}

.news-post info {
    font-size: 0.75em;
    font-family: 'Pridi', serif;
}

.news-post:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #333;
    cursor: pointer;
}

.news-post footer {
    font-size: 0.75em;
    color: #555;
}

.slide-news {
    display: inline-block;
    position: relative;
}

.slide-news:hover .cursor {
    opacity: 1;
}

.cursor {
    opacity: 0;
    transition: 0.5s;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev, .next {
    cursor: pointer;
    display: inline-block;
    background-color: #333;
    color: #ccc;
    padding: 1em;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    opacity: 0.6;
    transition: 0.5s;
}

.next {
    float: right;
}

.prev:hover, .next:hover {
    opacity: 1;
}

#first-trend {
    display: inline-block;
    min-width: 500px;
}

.slideshow-contain {
    position: relative;
    overflow: hidden;
}

.slideshow {
    display: block;
    transition: 0.5s;
}

.slide {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.slide img {
    width: 100%;
}

.slide:hover .slide-title {
    background-color: rgba(255, 255, 255, 0.6);
}

.slide-title {
    position: absolute;
    width: 100%;
    top: 100%;
    transform: translateY(-100%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2em;
    font-size: 1.5em;
    font-family: 'Pridi', serif;
    transition: 0.5s;
}

.photo-news, .video-news {
    display: inline-block;
}

.photo-news {
    float: left;
}

.first-post {
    display: inline-block;
    min-width: 500px;
    float: left;
    padding-top: 3em;
}

.news .list-news {
    display: inline-block;
    min-width: 200px;
    max-height: 50vh;
}

.news .list-news .news-post {
    min-height: 100px;
    text-align: left;
}

.news .list-news .news-post img {
    display: inline-block;
    float: left;
    width: 30%;
    overflow: auto;
}

.news .list-news .news-post div {
    display: inline-block;
    float: right;
    width: 60%;
}

.news .list-news .news-post info {
    display: inline-block;
    float: right;
    width: 60%;
    font-size: 0.75em;
    font-weight: normal;
}

.news .list-news .news-post footer {
    display: block;
}


/* For mobile */

@media only screen and (max-width: 800px) {
    .header {
        position: relative;
    }
    .menu {
        display: none;
        text-align: left;
    }
    .menu a {
        font-size: 0.75em;
        text-align: left;
        padding: 5px;
    }
    [class*='col-'] {
        width: 100%;
        float: left;
    }
    .sub-menu {
        position: relative;
        visibility: visible;
        opacity: 1;
    }
    .menu-member {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding-bottom: 5px;
    }
    .menu-member:hover {
        transform: none;
    }
    .logo {
        text-align: center;
    }
    .logo img {
        width: 30%;
    }
}
