@lowColor : rgb(33,33,33);
#linearBG(@bg) {
    background-image: -webkit-linear-gradient(left, fadeout(@bg, 90%), fadeout(@bg, 10%), fadeout(@bg, 90%));
    background-image: -o-linear-gradient(left, fadeout(@bg, 90%), fadeout(@bg, 10%), fadeout(@bg, 90%));
    background-image: linear-gradient(to right, fadeout(@bg, 90%), fadeout(@bg, 10%), fadeout(@bg, 90%));
}

body {
    text-align: center;
    font-family: Roboto, sans-serif;
}
#search-value {
    text-align: left;
    width: 100%;
}
#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;

    padding: 1em;
    margin: 0;

    background: @lowColor;
}
#content {
    margin-top: 4em;
    z-index: 1;
}
#ShowFirst {
    height: 400px;
    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    img {
        display: inline-block;
        vertical-align: middle;
        width: 60%;
    }
}
#loading-area {
    display: none;
    position: fixed;
    top: 40%;
    left: 0;
    width: 100%;
    #linearBG(#000);
    img {
        width: 100px;
        margin: 0 auto;
    }
}
.image {
    &-childs {
        width: 100%;
    }
}
#col0, #col1, #col2 {
    padding: 0;
}
