.slideshow {
    display: block;
    position: relative;
    transition: left 1s;
}
.cursor {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: left;
}

.prev, .next {
    cursor: pointer;

    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    padding: 10px;
    float: left;

    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 2px 2px black;

    transition: 0.5s ease;
    opacity: 0.5;
}
.next {
    border-radius: 10px 0px 0px 10px;
    float: right;
}

.prev:hover, .next:hover {
    opacity: 1;
}
